<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

    <Bundle Name="!(loc.BundleName)"
            Version="$(var.ProductVersion)"
            Manufacturer="Vaulkeeper"
            UpgradeCode="41F1B1D7-4D16-4D0A-9E89-5713E0EE2CD2"
            IconSourceFile="$(var.BrandDir)/vaulkeeper.ico"
            AboutUrl="https://vaulkeeper.local"
            HelpUrl="https://vaulkeeper.local/docs"
            UpdateUrl="https://vaulkeeper.local/releases">

        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
            <bal:WixStandardBootstrapperApplication
                LicenseUrl=""
                LogoFile="$(var.BrandDir)/logo-setup.png"
                SuppressOptionsUI="yes" />
        </BootstrapperApplicationRef>

        <util:RegistrySearch Id="DetectVcRedist"
                             Root="HKLM"
                             Key="SOFTWARE\Microsoft\VisualStudio\14.0\VC\Runtimes\x64"
                             Value="Installed"
                             Result="exists"
                             Variable="VcRedistInstalled" />

        <Variable Name="InstallFolder" Type="string" Value="[ProgramFiles64Folder]Vaulkeeper" bal:Overridable="yes" />
        <Variable Name="LaunchTarget" Type="string" Value="[InstallFolder]\vaulkeeper.exe" />

        <Chain>
            <ExePackage Id="VcRedist"
                        Cache="no"
                        Compressed="yes"
                        PerMachine="yes"
                        Permanent="yes"
                        Vital="yes"
                        SourceFile="$(var.RedistDir)/vc_redist.x64.exe"
                        InstallCommand="/install /quiet /norestart"
                        RepairCommand="/repair /quiet /norestart"
                        UninstallCommand="/uninstall /quiet /norestart"
                        DetectCondition="VcRedistInstalled" />

            <MsiPackage Id="VaulkeeperMsi"
                        Cache="yes"
                        Compressed="yes"
                        DisplayInternalUI="no"
                        Visible="no"
                        SourceFile="$(var.MsiFile)">
                <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
            </MsiPackage>
        </Chain>
    </Bundle>
</Wix>
